@charset "UTF-8"

html {
				font-size: 10px;
}
body {
				font-family: "Hiragino kaku Gothi ProN", Meiryo, sans-serif;
				max-width: 1200px;
				margin: 0 auto;
}
*, *::before, *::after {
				box-sizing: border-box;
}
a {
				text-decoration: none;
}
li {
				list-style-type: none;
}

.header {
				width: 100%;
				max-width: 1200px;
				margin: 0 auto;
				position: relative;
				background-color: #fff;
}
.logo {
				display: inline-block;
				background-size: 100% 100%;
}
.logo.logo-img {
				margin-top: 10px;
				margin-left: 8%;
				width: 35%;
}
.logo.logo-img.right {
				width: 20%;
				margin-left: 0;
}

.header-contact {
				display: inline-block;
				position: absolute;
				right: 5%;
				width: 200px;
				letter-spacing: 1px;
				font-size: 20px;
				top: 5px;
}
.contact-icon {
				display: inline-block;
				margin-left: 15%;
}
.contact-text {
				display: inline-block;
}
.lang-container {
				display: block;
				height: 15px;
				position: absolute;
				top: 50px;
				right: 22%;
				font-size: 15px;
				color: #666;
}
.lang-container:hover {
				color: #c00000;
}
.lang-container:hover .lang-box {
				display: block;
}
.lang-container.right {
				right: 15%;
}
.lang-container.right-sec {
				right: 7%;
}
.lang-box {
				display: none;
				position: absolute;
				height: 50px;
				width: 100px;
				background-color: rgba(0,0,0,0.6);
				z-index: 149;
}
.lang-container.right:hover {
				cursor: pointer;
}
.chinese {
				display: block;
				width: 100px;
				color: #fff;
				text-align: center;
				padding: 5px 0;
}
.lang-box a {
				display: block;
				height: 25px;
				z-index: 150;
}
.lang-box a:hover {
				background-color: rgba(0,0,0,0.8);
}
.nav-wrapper {
				background-color: #fff;
				max-width: 1200px;
				margin: 0 auto;
}
.global-nav {
				margin-top: 15px;
				text-align: center;
				border-top: 1px solid #a9a9a9;
				border-bottom: 1px solid #a9a9a9;
				display: block;
				position: relative;
}
.global-nav a {
				line-height: 40px;
				text-align: center;
				color: #666;
				font-size: 11px;
				letter-spacing: 1px;
				display: block;
				width: 16%;
				height: 40px;
				float: left;
				border-left: 1px #a9a9a9 dashed;
}
.global-nav-for-cellphone,
.global-nav-for-cellphone a {
				display: none;
}
.global-nav .first {
				margin-left: 10%;
}
.global-nav .last {
				border-right: 1px dashed #a9a9a9;
}
.global-nav a:hover,
.global-nav-for-cellphone a:hover {
				background-color: #c00000;
				color: #fff;
}
.nav-toggle {
				position: absolute;
				display: none;
				top: 5px;
				right: 30px;
				width: 35px;
				height: 35px;
				background: url('/images/bg-header.gif') repeat-x;
				background-color: rgba(0,0,0,0.6);
				font-size: 35px;
				color: #fff;
}
.nav-toggle:hover,
.nav-toggle-sec:hover {
				cursor: pointer;
}
.wrapper {
				max-width: 1200px;
				width: 100%;
}
.header .image {
				position: relative;
				clear: both;
				display: block;
				width: 100%;
				height: 500px;
				max-width: 1200px;
				color: #fff;
				opacity: 1;
}
.image.middle {
				width: 100%;
}
.img-sentence {
				position: absolute;
				color: #fff;
				top: 500px;
				right: 10%;
				font-size: 40px;
				opacity: 1;
}
.select {
				position: relative;
				width: 100%;
}
.select-wrapper {
				display: inline-block;
				width: 48%;
				margin: 30px 1%;
				height: 200px;
				background-color: #fff;
}
.select .buy-sell {
				display: block;
				width: 150px;
				height: 150px;
				border: 1px solid #fff;
				border-radius: 75px;
				font-size: 40px;
				background-color: #ff0000;
				color: #fff;
				outline: none;
				margin: 25px 33%;
				padding: 55px 30px;
}
.select .buy-sell:hover,
.select .buy-sell:focus {
				background-color:rgba(255,0,0,0.6);
}
.select .buy-sell .left{
				position: absolute;
				left: 50%;
}
.explain {
				position: relative;
				display: block;
				width: 100%;
				padding-top: 50px;
}
.explain .title {
				height: 50px;
				font-size: 50px;
				letter-spacing: 1px;
				width: 100%;
				text-align: center;
				margin: 0 auto;
				padding-top: 5px;
				background-color: #fff;
}
.explain .detail {
				text-align: left;
				font-size: 20px;
				width: 60%;
				max-width: 550px;
				margin: 60px auto 10px auto;
}
.explain .detail-short {
				margin-top: 20px;
				font-size: 15px;
}
.content {
				display: block;
				width: 32%;
				border-radius: 50%;
				margin-left: 1%;
				padding-top: 10px;
				float: left;
}
.title {
				font-size: 25px;
				text-align: center;
				margin-top: 10px;
				height: 60px;
}
.font20 {
				font-size: 20px;
				text-align: center;
				margin: 30px 0 30px 10%;
				padding: auto 0 auto;
}
.picture {
				width: 100px;
				height: 100px;
				margin: 30px 33% 10px;
				border: 2px solid #ff8080;
				border-radius: 50px;
				color: #ff8080;
				font-size: 80px;
				padding-top: 8px;
				padding-left: 15px;
}
.fa-gavel {
				font-size: 70px;
				padding-top: 10px;
				padding-left: 13px;
}
.fa-car {
				font-size: 60px;
				padding-top: 18px;
}
.sentence {
				width: 80%;
				font-size: 15px;
				padding: 0 10px;
				margin: 10px 10%;
				height: 150px;
				color: #666;
}
.margin10 {
				width: 75%;
				margin: 0 10% 10px 15%;
				font-size: 15px;
				color: #666;
				line-height: 18px;
}
.margin10 ul {
				margin: 10px 3% 10px 3%;
}
.margin10 ul li {
				margin-top: 10px;
}
.guide-title {
				width: 80%;
				font-size: 25px;
				text-align: left;
				margin: 50px 10% 10px 10%;
}
.clearfix {
				clear: both;
}
.procedure {
				font-size: 50px;
				text-align: center;
				margin-top: 30px;
}
.step {
				text-align: left;
				display: block;
				margin: 30px 3% 10px 3%;
				width: 94%;
				min-height: 200px;
				padding-top: 10px;
				position: relative;
				padding-bottom: 30px;
				background-color: #ffc0c0;
}
.step-left {
				display: block;
				margin-left: 4%;
				width: 30%;
				font-size: 20px;
}
.step-title {
				display: block;
				width: 90%;
				margin-left: 1%;
}
.step-title .name {
				margin-left: 10%;
				margin-top: 10px;
				font-size: 25px;
}
.step-pic-register,
.step-pic-search {
				display: block;
				margin: 10px auto;	
				width: 80%;
				height: 150px;
				color: #ff0000;
}
.step-pic-register {
				background: url('/images/register.png') no-repeat;
				background-size: 100% 100%;
}
.step-pic-search {
				background: url('/images/search.png') no-repeat;
				background-size: 100% 100%;
}
.fa-check-circle {
				margin-left: 28%;
}
.fa-yen {
				margin-left: 32%;
}
.step-right {
				position: absolute;
				left: 35%;
				top: 30%;
				display: block;
				width: 60%;
				color: #666;
}
.step-right ul li {
				font-size: 15px;
				margin-top: 10px;
}
.step-right a:hover {
				text-decoration: underline;
}
.arrow {
				clear: both;
				font-size: 80px;
				width: 100px;
				display: block;
				margin: 10px 0 10px 10%;
				color: coral;
}
.FAQ {
				width: 100%;
}
.FAQ-title {
				margin: 80px auto 80px;
				width: 80%;
				font-size: 50px;
				height: 50px;
				padding-top: 5px;
				text-align: center;
}
.FAQ a:hover .FAQ-shortbox {
				opacity: 0.7;
}
.FAQ-shortbox {
				max-width: 600px;
				width: 44%;
				height: 260px;
				float: left;
				font-size: 18px;
				text-align: center;
				margin: 0 3%;
				background-color: #ffc0c0;
				padding-top: 20px;
				color: #000;
}
.shortbox-title {
				background-color: #e00000;
				color: #fff;
				width: 70%;
				margin: 0 auto;
}
.FAQ-longbox {
				width: 100%;
				padding-top: 20px;
}
.FAQ .FAQ-shortbox .left .detail {
				clear: both;
				text-align: left;
				margin: 10px 0;
				font-size: 15px;
				padding: 5px 3%;
}
.FAQ .FAQ-shortbox .left {
				padding: 10px 0;
}
.FAQ .left {
				margin-top: 10px;
				margin-left: 13%;
				width: 87%;
}
.FAQ .left .topic {
				float: left;
				width: 20%;
				max-width: 110px;
				margin: 3px 0;
				background-color: #ff0000;
				color: #fff;
				font-size: 10px;
				border: 2px solid #ff0000;
				padding: 2px 2%;
}
.FAQ .left .detail {
				float: left;
				padding-left: 5%;
				font-size: 18px;
				margin-top: 3px;
				width: 80%;
}
.FAQ .left .topic.color {
				border: 2px solid #0000ff;
				background-color: #0000ff;
}
.FAQ .left .detail a:hover {
				text-decoration: underline;
}
.footer {
				margin-top: 20px;
				width: 100%;
				color: #fff;
				text-align: center;
}
.footer-logo {
				display: block;
				margin-left: 10%;
				width: 40%;
				height: 17%;
				background: url('/images/footer-logo.png') no-repeat;
				background-size: 100% 100%;
}
.footer-ele {
				width: 90%;
				margin-top: 20px;
}
.footer .about {
				float: left;
				width: 50%;
				background-color: rgba(0,0,0,0.87);
				padding-top: 30px;
				height: 500px;
				text-align: center;
}
.footer-icon {
				padding-top: 10px;
			  padding-left: 60%;
}
.fa-map-marker {
				margin-left: 2px;
}
.footer-detail {
				text-align: left;
				padding-left: 20px;
				letter-spacing: 1px;
}
.footer-detail a {
				color: #fff;
}
.footer-detail a:hover {
				color: rgba(255,255,255,0.8);
}
.map {
				margin-top: 20px;
				height: 180px;
				padding: 10px 10%;
}
.footer .contact {
				float: left;
				width: 50%;
				display: block;
				background-color: rgba(0,0,0,0.87);
				padding-top: 30px;
				height: 500px;
}
.contact input[type="text"],
.contact textarea {
				display: block;
				width: 80%;
				margin-left: 10%;
				margin-top: 10px;
				font-size: 15px;
        background-color: rgba(255,255,255,0.05);
        color: #fff;
        border: 1px solid rgba(255,255,255,0.4);
				padding: 10px;
}
.contact textarea {
				height: 150px;
}
.contact .submit-button {
				width: 60%;
				background-color: rgba(255,255,255,0.3);
				color: #fff;
				border-radius: 5px;
				height: 40px;
				margin-top: 10px;
				border: 1px #000;
}
.contact .submit-button:hover {
				background-color: rgba(255,255,255,0.2);
}
.contact input[type="text"]:focus,
.contact textarea:focus {
				box-shadow: 0 0 8px rgba(255,255,255,0.5) inset;
				outline: none;
}
.error_m {
				display: block;
				background: transparent;
				margin-top: 5px;
				margin-left: 0;
				color: #F4D4D4;
}
.footer .copyright {
				display: block;
				padding-top: 7px;
				padding-bottom: 7px;
				font-size: 15px;
				background-color: #696969;
}
.fixed-contact {
				position: fixed;
				bottom: 10px;
				font-size: 25px;
				width: 40px;
				height: 40px;
				border: 2px solid;
				border-radius: 20px;
				z-index: 10;
				padding-left: 7px;
				padding-top: 6px;
				color: rgba(255,0,0,0.8);
				border-color: rgba(255,0,0,0.8);
				right: 3%;
}
.fixed-contact.left {
				right: 10%;
}
.fixed-contact:hover {
				color: rgba(255,0,0,0.6);
				border-color: rgba(255,0,0,0.6);
}
.display-block {
				display: block;
}
@media (max-width: 640px) {
	.logo.logo-img {
					width: 40%;
	}
	.logo.logo-img.right {
					width: 20%;
	}
	.nav-wrapper {
					width: 100%;
	}
	.lang-container {
					top: 57px;
					right: 40%;
					font-size: 10px;
	}
	.lang-container.right {
					right: 25%;
	}
	.lang-container.right-sec {
					right: 10%;
	}
	.global-nav,
	.global-nav a {
					display: none;
					border :none;
	}
	.global-nav-for-cellphone {
					display: none;
					position: absolute;
					z-index: 100;
					border: none;
					top: 80px;
					height: 200px;
					width: 100%;
					background-color: rgba(0,0,0,0.6);
					border: none;
	}
	.global-nav-for-cellphone a {
					line-height: 40px;
					font-size: 11px;
					letter-spacing: 1px;
					display: block;
					clear: both;
					width: 100%;
					border: none;
					height: 40px;
					color: #fff;
					padding-left: 70%;
					z-index: 101;
					margin: 0;
					text-align: center;
	}
	.nav-toggle {
					display: block;
	}
	.header .image {
					position: absolute;
					display: block;
					top: 80px;
					width: 100%;
					float: right;
					height: 200px;
	}
	.header .img-sentence {
					top: 200px;
					font-size: 15px;
	}
	.contact-icon,
	.contact-text {
					display: none;
	}
	.white {
					width: 100%;
					height: 220px;
	}
	.select {
					height: 130px;
	}
	.select .buy-sell {
					height: 100px;
					font-size: 60px;
	}
	.explain .detail {
					width: 90%;
					margin: 10px 5%;
	}
	.explain .title {
					border: none;
					margin-bottom: 60px;
					font-size: 30px;
	}
	.explain .title::before {
					display: none;
	}
	.content {
					clear: left;
					width: 100%;
					margin-top: 20px;
					margin-bottom: 20px;
	}
	.picture {
					margin-top: 10px;
	}
	.sentence {
					height: 100px;
	}
	.procedure {
					font-size: 30px;
	}
	.step {
					margin-top: 50px;
	}
	.step-left {
					left: 3%;
					width: 90%;
					top: 30px;
	}
	.step-right {
					position: relative;
					width: 90%;
					left: 5%;
	}
	.step-pic-register,
	.step-pic-search {
					width: 80%;
					height: 150px;
	}
	.arrow {
					margin: 30px auto 10px auto;
	}
	.FAQ-title {
					border: none;
					font-size: 30px;
					margin-top: 50px;
					margin-bottom: 50px;
	}
	.FAQ-shortbox {
					height: 270px;
					width: 98%;
					margin: 20px 1% 20px 1%;
	}
	.shortbox-title {
					font-size: 18px;
	}
	.first {
					padding-top: 10px;
	}
	.FAQ .FAQ-shortbox .detail {
					margin: 10px auto;
					font-size: 15px;
	}
	.FAQ-longbox .left {
					width: 98%;
					margin-left: 2%;
	}
	.FAQ-longbox .left .topic {
					width: 80px;
					font-size: 8px;
	}
	.FAQ-longbox .left .detail {
					word-wrap: normal;
	}
	.footer .about {
					clear: left;
					width: 100%;
	}
	.footer-logo {
					height: 13%;
	}
	.footer .contact {
					clear: left;
					width: 100%;
	}
	.fixed-contact {
	        font-size: 20px;
					width: 32px;
					height: 32px;
					border: 1px solid;
					border-radius: 16px;
					padding-left:6px;
					padding-top: 4px;
	}
	.fixed-contact.left {
					right: 15%;
	}
}
